# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Environment variables
.env
.env.*

# SQLite database
*.db
*.sqlite
*.sqlite3

# Node
node_modules/

# Vite
frontend/frontend/dist/

# Logs
*.log